@import './Colors.scss';

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: $gray;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: $black-3;
    }
}



nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: 100vh;
    width: 68px;
    padding: 16px 8px;
    background: $black-2;
    transition: 0.35s;

    .nav-header {
        display: flex;
        justify-content: center;
        align-items: center;

        .wrapper-logos {
            display: none;

            .logoRiotAnimation {
                position: absolute;
                left: 50px;
                width: 160px;
                height: 160px;
                background: url("../../Data/Images/Logos/RiotLogoAnimation.png") 0 -2400px no-repeat;
                -webkit-transition: background-position 0.25s steps(15, end);
                transition: background-position 0.25s steps(15, end);
                -webkit-transform: scale(0.4);
                transform: scale(0.4);


                &:hover {
                    background: url("../../Data/Images/Logos/RiotLogoAnimation.png") 0 0px no-repeat;
                }
            }

            .logoTFT {
                border-right: 1px solid #353535;
                padding-right: 10px;
            }
        }

        .btns-menu {


            .menu-open {
                width: 42px;
                height: 42px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 8px;
                cursor: pointer;

                &:hover {
                    background: $black-3;
                }
            }

            .menu-close {
                display: none;
            }
        }
    }



    .nav-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 32px;

        .nav-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 60px;
            border-radius: 8px;
            margin: 8px 0;
            transition: 0.35s;


            p {
                display: none;
                font-size: 24px;
                font-weight: 500;
            }

            .btn-icon {
                width: 20px;
                display: flex;
                justify-content: center;
            }

            &:hover {
                cursor: pointer;
                background: $black-3;

                .btn-icon svg path {
                    fill: $white;
                }
            }
        }
    }


    &.nav-expanded {
        width: 368px !important;

        .nav-header {
            justify-content: space-between;

            .wrapper-logos {
                display: flex;
                align-items: center;
            }

            .btns-menu {

                .menu-close {
                    width: 42px;
                    height: 42px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 8px;
                    cursor: pointer;

                    &:hover {
                        background: $black-3;
                    }
                }

                .menu-open {
                    display: none;
                }
            }
        }


        .nav-body {
            padding: 8px;

            .nav-btn {
                justify-content: space-between;
                width: 320px;
                height: 60px;
                padding: 0 16px;


                p {
                    display: initial;
                    transition: 0.35s;
                }

                &:hover {
                    cursor: pointer;
                    background: $black-3;
                    color: $white;
                }
            }
        }
    }
}




main {
    background: $black;
    min-height: 400vh;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow-x: hidden;



    .wrapper-main {
        margin-left: 117px;
        margin-right: 32px;
        min-height: 100vh;
        max-width: 1120px;
        width: 1120px;
        word-break: break-all;
    }
}


/*Root*/

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: $black-2;
    background-image: none;
    margin: 0 8px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
/* Remove IE arrow */
select::-ms-expand {
    display: none;
}
/* Custom Select */
.select {
    position: relative;
    display: flex;
    width: 13em;
    height: 3em;
    line-height: 3;
    background: $black-2;
    overflow: hidden;
    border-radius: 8px;
    margin: 0 8px;
    font-family: 'Roboto', sans-serif;
}

select {
    flex: 1;
    padding: 0 .5em;
    color: $gray;
    cursor: pointer;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 700;
}
/* Arrow */
.select::after {
    content: '\25BC';
    font-size: 16px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: $black-2;
    width: 10px;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}

.select:hover::after {
    color: $white;
}


input {
    outline: none;
    box-shadow: none;
    font-family: 'Roboto', sans-serif !important;
}

.input {
    position: relative;
    font-family: 'Roboto', sans-serif;

    input {
        border-radius: 8px;
        background: $black-2;
        padding: 0 8px;
        height: 48px;
        width: 250px;
        border: none;
        color: $gray;
        padding-right: 40px;
        font-family: 'Roboto', sans-serif;
        font-weight: 600;


    }

    .search {
        position: absolute;
        top: 13px;
        right: 8px;
    }
}
