body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #616161;
  overflow-x: hidden; }
  body::-webkit-scrollbar {
    width: 5px; }
  body::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #233037; }

nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 68px;
  padding: 16px 8px;
  background: #19252C;
  transition: 0.35s; }
  nav .nav-header {
    display: flex;
    justify-content: center;
    align-items: center; }
    nav .nav-header .wrapper-logos {
      display: none; }
      nav .nav-header .wrapper-logos .logoRiotAnimation {
        position: absolute;
        left: 50px;
        width: 160px;
        height: 160px;
        background: url("../../Data/Images/Logos/RiotLogoAnimation.png") 0 -2400px no-repeat;
        -webkit-transition: background-position 0.25s steps(15, end);
        transition: background-position 0.25s steps(15, end);
        -webkit-transform: scale(0.4);
        transform: scale(0.4); }
        nav .nav-header .wrapper-logos .logoRiotAnimation:hover {
          background: url("../../Data/Images/Logos/RiotLogoAnimation.png") 0 0px no-repeat; }
      nav .nav-header .wrapper-logos .logoTFT {
        border-right: 1px solid #353535;
        padding-right: 10px; }
    nav .nav-header .btns-menu .menu-open {
      width: 42px;
      height: 42px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      cursor: pointer; }
      nav .nav-header .btns-menu .menu-open:hover {
        background: #233037; }
    nav .nav-header .btns-menu .menu-close {
      margin-right: 13px;
      display: none; }
  nav .nav-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px; }
    nav .nav-body .nav-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 60px;
      border-radius: 8px;
      margin: 8px 0;
      transition: 0.35s; }
      nav .nav-body .nav-btn p {
        display: none;
        font-size: 24px;
        font-weight: 500; }
      nav .nav-body .nav-btn .btn-icon {
        width: 20px;
        display: flex;
        justify-content: center; }
      nav .nav-body .nav-btn:hover {
        cursor: pointer;
        background: #233037; }
        nav .nav-body .nav-btn:hover .btn-icon svg path {
          fill: #F1F1F1; }
  nav.nav-expanded {
    width: 368px !important; }
    nav.nav-expanded .nav-header {
      justify-content: space-between; }
      nav.nav-expanded .nav-header .wrapper-logos {
        display: flex;
        align-items: center; }
      nav.nav-expanded .nav-header .btns-menu .menu-close {
        width: 42px;
        height: 42px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        cursor: pointer; }
        nav.nav-expanded .nav-header .btns-menu .menu-close:hover {
          background: #233037; }
      nav.nav-expanded .nav-header .btns-menu .menu-open {
        display: none; }
    nav.nav-expanded .nav-body {
      padding: 8px; }
      nav.nav-expanded .nav-body .nav-btn {
        justify-content: space-between;
        width: 320px;
        height: 60px;
        padding: 0 16px; }
        nav.nav-expanded .nav-body .nav-btn p {
          display: initial;
          transition: 0.35s; }
        nav.nav-expanded .nav-body .nav-btn:hover {
          cursor: pointer;
          background: #233037;
          color: #F1F1F1; }

main {
  background: #0B1921;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  padding-bottom: 100px; }
  main .wrapper-main {
    margin-left: 117px;
    margin-right: 32px;
    min-height: 100vh;
    max-width: 1120px;
    width: 1120px;
    word-break: break-all; }

/*Root*/
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #19252C;
  background-image: none;
  margin: 0 8px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif; }

/* Remove IE arrow */
select::-ms-expand {
  display: none; }

/* Custom Select */
.select {
  position: relative;
  display: flex;
  width: 13em;
  height: 3em;
  line-height: 3;
  background: #19252C;
  overflow: hidden;
  border-radius: 8px;
  margin: 0 8px;
  font-family: 'Roboto', sans-serif; }

select {
  flex: 1;
  padding: 0 .5em;
  color: #616161;
  cursor: pointer;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 700; }

/* Arrow */
.select::after {
  content: '\25BC';
  font-size: 16px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #19252C;
  width: 10px;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease; }

.select:hover::after {
  color: #F1F1F1; }

input {
  outline: none;
  box-shadow: none;
  font-family: 'Roboto', sans-serif !important; }

.input {
  position: relative;
  font-family: 'Roboto', sans-serif; }
  .input input {
    border-radius: 8px;
    background: #19252C;
    padding: 0 8px;
    height: 48px;
    width: 250px;
    border: none;
    color: #616161;
    padding-right: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600; }
  .input .search {
    position: absolute;
    top: 13px;
    right: 8px; }
