.content-ChampionsList {
  display: flex;
  flex-direction: column; }
  .content-ChampionsList.moreCost {
    flex-direction: column-reverse; }
  .content-ChampionsList .row {
    display: flex;
    align-items: center; }
    .content-ChampionsList .row .champions-cost {
      display: flex;
      align-items: center;
      margin-right: 8px;
      font-size: 24px; }
      .content-ChampionsList .row .champions-cost svg {
        margin-right: 4px; }
    .content-ChampionsList .row .row-list {
      width: 100%;
      border-radius: 8px;
      background: #19252C;
      margin: 16px 0;
      display: flex;
      flex-wrap: wrap;
      align-items: center; }
      .content-ChampionsList .row .row-list .item-list {
        margin: 16px;
        width: 63px;
        height: 63px;
        position: relative; }
        .content-ChampionsList .row .row-list .item-list img {
          border-radius: 8px;
          width: 100%; }
        .content-ChampionsList .row .row-list .item-list .champion-info {
          position: absolute;
          top: -130px;
          left: -170px;
          display: none;
          width: 290px;
          background: #233037;
          border-radius: 8px; }
        .content-ChampionsList .row .row-list .item-list:hover .champion-info {
          display: flex;
          padding: 8px;
          z-index: 1000; }
          .content-ChampionsList .row .row-list .item-list:hover .champion-info .champion-name {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 115px;
            border-right: 1px solid #353535;
            transition: 1s; }
            .content-ChampionsList .row .row-list .item-list:hover .champion-info .champion-name img {
              border-radius: 8px;
              width: 61px; }
            .content-ChampionsList .row .row-list .item-list:hover .champion-info .champion-name p {
              color: #F1F1F1;
              margin: 8px; }
          .content-ChampionsList .row .row-list .item-list:hover .champion-info .champion-traits {
            display: flex;
            flex-direction: column;
            justify-content: center; }
            .content-ChampionsList .row .row-list .item-list:hover .champion-info .champion-traits .trait {
              padding: 0 16px;
              display: flex;
              align-items: center; }
              .content-ChampionsList .row .row-list .item-list:hover .champion-info .champion-traits .trait img {
                margin-right: 8px;
                width: 20px; }
              .content-ChampionsList .row .row-list .item-list:hover .champion-info .champion-traits .trait p {
                margin: 8px;
                color: #F1F1F1; }
  .content-ChampionsList .notFoundResult {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 500; }
    .content-ChampionsList .notFoundResult.d-none {
      display: none; }

@media (max-width: 400px) {
  .content-ChampionsList .row .champions-cost {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .content-ChampionsList .row .champions-cost svg {
      margin: 0; }
  .content-ChampionsList .row .row-list .item-list {
    width: 50px;
    height: 50px; } }
